.swiper {
  width: 1200;
}

/* ==================== MEDIA QUERIES(MEDIUM DEVICES) ==================*/

@media screen and (max-width: 1024px) {
  .swiper {
    width: 1024px;
  }
}

/* ==================== MEDIA QUERIES(SMALL DEVICES) ==================*/
@media screen and (max-width: 600px) {
  .swiper {
    max-width: 375px;
  }
}
