.header {
  max-width: 80rem;
  margin: auto;
  padding: 0rem;
  display: flex;
  justify-content: space-between;
}

.headerLeft {
  margin-top: 0rem;
  margin-left: 1rem;
}

.headerLeft img {
  width: 10rem;
}

.headerMiddle {
  padding-left: 8rem;
}

.navList {
  margin-top: 1rem;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  padding: 0;
}

a {
  background: transparent;
  border: none;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 0.8rem;
  padding: 0.5rem;
  transition: all 400ms ease;
  border-radius: 1rem;
}

a:hover {
  background: lightgray;
  border-radius: 1rem;
}

.headerRight {
  margin-top: 0.5rem;
  padding-right: 3rem;
}
.button {
  background: #36d794;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 3rem;
  color: white;
  border: none;
  transition: all 400ms ease;
}

button:hover {
  background: #36d850;
  cursor: pointer;
}

/* ==================== MEDIA QUERIES(MEDIUM DEVICES) ==================*/
@media screen and (max-width: 1024px) {
  .header {
    width: 769px;
  }

  .headerLeft {
    display: flex;
    flex-direction: row;

    margin-top: 1rem;
    margin-left: -3rem;
  }

  .headerLeft img {
    width: 8rem;
  }
  .headerMiddle {
    margin-left: -12rem;
  }
  .navList {
    display: none;
  }
  .navList a {
    font-weight: 500;
    font-size: 12px;
  }

  .headerRight {
    display: none;
  }
}
/* ==================== MEDIA QUERIES(SMALL DEVICES) ==================*/
@media screen and (max-width: 600px) {
  .header {
    max-width: 375px;
  }

  .headerLeft {
    display: flex;
    flex-direction: row;

    margin-top: 1rem;
    margin-left: 0rem;
  }

  .headerLeft img {
    width: 5rem;
  }

  .headerMiddle {
    display: none;
  }

  .headerRight {
    display: none;
  }
}
